<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--hardwareAccelerated 는 Zxing때문에-->
    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <!-- TODO replace above two with next line after Android 4.2 -->
    <!-- <uses-feature android:name="android.hardware.camera.any"/> -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        >
        <activity
            android:name=".activity.MagicMRSExportCertActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MagicMRSImportAuthCodeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MagicMRSImportQRCodeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>
</manifest>